In [7]:
import pandas as pd
# Cargamos los archivos
df_athletes = pd.read_csv('./datos/olympic_athletes.csv')
df_hosts = pd.read_csv('./datos/olympic_hosts.csv')
df_medals = pd.read_csv('./datos/olympic_medals.csv')
df_results = pd.read_csv('./datos/olympic_results.csv')


# Hacemos una función para mostrar información básica de cada DataFrame
def analizar_dataset(df, nombre):
    print(f"--- Dataset: {nombre} ---")
    print("Primeras rows:")
    display(df.head())

    print(f"\nInformación básica del DataFrame: {nombre}")
    df.info()

    print("\nDescripción estadística:")
    display(df.describe(include='all'))

    print("\nValores nulos por columna:")
    display(df.isnull().sum())

    print("\nRegistros duplicados:")
    display(df.duplicated().sum())

    print("\nColumnas:")
    for col in df.columns:
        print(col)
    print("\n\n")


# Ejecutamos la función por cada uno de los datasets
analizar_dataset(df_athletes, 'Atletas')
analizar_dataset(df_hosts, 'Hosts')
analizar_dataset(df_medals, 'Medallas')
analizar_dataset(df_results, 'Resultados')

--- Dataset: Atletas ---
Primeras rows:

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN

Información básica del DataFrame: Atletas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

Descripción estadística:

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
count,75904,75904,75904.000000,75882,73448.000000,15352,22842
unique,75900,75480,NaN,53,NaN,170,22530
top,https://olympics.com/en/athletes/mariana-pajon,Ivan IVANOV,NaN,Rio 2016,NaN,\n\n\n1\n\nB\n\n,\n\n\nPersonal Best: Mar – unknown.\n\n\n\n\n\n
freq,2,4,NaN,4111,NaN,4209,110
mean,NaN,NaN,1.535874,NaN,1961.619377,NaN,NaN
std,NaN,NaN,0.854563,NaN,28.129576,NaN,NaN
min,NaN,NaN,0.000000,NaN,1836.000000,NaN,NaN
25%,NaN,NaN,1.000000,NaN,1946.000000,NaN,NaN
50%,NaN,NaN,1.000000,NaN,1968.000000,NaN,NaN
75%,NaN,NaN,2.000000,NaN,1983.000000,NaN,NaN
max,NaN,NaN,10.000000,NaN,2009.000000,NaN,NaN

Valores nulos por columna:

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

Registros duplicados:

0

Columnas:
athlete_url
athlete_full_name
games_participations
first_game
athlete_year_birth
athlete_medals
bio



--- Dataset: Hosts ---
Primeras rows:

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

Información básica del DataFrame: Hosts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_slug        53 non-null     object
 1   game_end_date    53 non-null     object
 2   game_start_date  53 non-null     object
 3   game_location    53 non-null     object
 4   game_name        53 non-null     object
 5   game_season      53 non-null     object
 6   game_year        53 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.0+ KB

Descripción estadística:

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
count,53,53,53,53,53,53,53.000000
unique,53,53,53,26,53,2,NaN
top,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,United States,Beijing 2022,Summer,NaN
freq,1,1,1,8,1,29,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1967.547170
std,NaN,NaN,NaN,NaN,NaN,NaN,35.201926
min,NaN,NaN,NaN,NaN,NaN,NaN,1896.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,1936.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,1972.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000

Valores nulos por columna:

game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

Registros duplicados:

0

Columnas:
game_slug
game_end_date
game_start_date
game_location
game_name
game_season
game_year



--- Dataset: Medallas ---
Primeras rows:

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

Información básica del DataFrame: Medallas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       21697 non-null  object
 1   slug_game              21697 non-null  object
 2   event_title            21697 non-null  object
 3   event_gender           21697 non-null  object
 4   medal_type             21697 non-null  object
 5   participant_type       21697 non-null  object
 6   participant_title      6584 non-null   object
 7   athlete_url            17027 non-null  object
 8   athlete_full_name      18073 non-null  object
 9   country_name           21697 non-null  object
 10  country_code           20195 non-null  object
 11  country_3_letter_code  21697 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB

Descripción estadística:

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
count,21697,21697,21697,21697,21697,21697,6584,17027,18073,21697,20195,21697
unique,86,53,1436,4,3,2,493,12116,12895,154,143,154
top,Athletics,tokyo-2020,Individual men,Men,BRONZE,Athlete,United States team,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
freq,3080,1188,215,13932,7529,15113,523,16,16,3094,3094,3094

Valores nulos por columna:

discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url               4670
athlete_full_name         3624
country_name                 0
country_code              1502
country_3_letter_code        0
dtype: int64

Registros duplicados:

0

Columnas:
discipline_title
slug_game
event_title
event_gender
medal_type
participant_type
participant_title
athlete_url
athlete_full_name
country_name
country_code
country_3_letter_code



--- Dataset: Resultados ---
Primeras rows:

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

Información básica del DataFrame: Resultados
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   discipline_title       162804 non-null  object
 1   event_title            162804 non-null  object
 2   slug_game              162804 non-null  object
 3   participant_type       162804 non-null  object
 4   medal_type             20206 non-null   object
 5   athletes               7976 non-null    object
 6   rank_equal             32526 non-null   object
 7   rank_position          158926 non-null  object
 8   country_name           162804 non-null  object
 9   country_code           157768 non-null  object
 10  country_3_letter_code  162804 non-null  object
 11  athlete_url            129991 non-null  object
 12  athlete_full_name      141646 non-null  object
 13  value_unit             78646 non-null   object
 14  value_type             90049 non-null   object
dtypes: object(15)
memory usage: 18.6+ MB

Descripción estadística:

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
count,162804,162804,162804,162804,20206,7976,32526,158926,162804,157768,162804,129991,141646,78646,90049
unique,86,1567,53,2,3,6845,2,193,238,213,233,68104,75263,46475,12
top,Athletics,individual mixed,rio-2016,Athlete,BRONZE,"[('LETOT LETOT', 'https://olympics.com/en/athl...",True,9,United States of America,US,USA,https://olympics.com/en/athletes/heikki-savola...,Heikki SAVOLAINEN,same time,TIME
freq,19259,2731,7672,141646,7029,37,23613,8279,11916,11916,11916,34,34,99,43774

Valores nulos por columna:

discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

Registros duplicados:

116

Columnas:
discipline_title
event_title
slug_game
participant_type
medal_type
athletes
rank_equal
rank_position
country_name
country_code
country_3_letter_code
athlete_url
athlete_full_name
value_unit
value_type

In [9]:
import pandas as pd

# Cargamos los archivos
df_athletes = pd.read_csv('./datos/olympic_athletes.csv')
df_hosts = pd.read_csv('./datos/olympic_hosts.csv')
df_medals = pd.read_csv('./datos/olympic_medals.csv')
df_results = pd.read_csv('./datos/olympic_results.csv')

def spacer():
    print("\n\n")
    print("===============================================")
    print("\n\n")


# Hacemos una función para mostrar información básica de cada DataFrame
def analizar_dataset(df, nombre):
    print(f"--- Dataset: {nombre} ---")
    print("Primeras rows:")
    display(df.head())

    spacer()

    print(f"\nInformación básica del DataFrame: {nombre}")
    df.info()

    spacer()

    print("\nDescripción estadística:")
    display(df.describe(include='all'))

    spacer()

    print("\nValores nulos por columna:")
    display(df.isnull().sum())

    spacer()

    print("\nRegistros duplicados:")
    display(df.duplicated().sum())

    spacer()

    print("\nColumnas:")
    for col in df.columns:
        print(col)

    spacer()


# Ejecutamos la función por cada uno de los datasets
analizar_dataset(df_athletes, 'Atletas')
analizar_dataset(df_hosts, 'Hosts')
analizar_dataset(df_medals, 'Medallas')
analizar_dataset(df_results, 'Resultados')

--- Dataset: Atletas ---
Primeras rows:

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN

===============================================




Información básica del DataFrame: Atletas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB



===============================================




Descripción estadística:

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
count,75904,75904,75904.000000,75882,73448.000000,15352,22842
unique,75900,75480,NaN,53,NaN,170,22530
top,https://olympics.com/en/athletes/mariana-pajon,Ivan IVANOV,NaN,Rio 2016,NaN,\n\n\n1\n\nB\n\n,\n\n\nPersonal Best: Mar – unknown.\n\n\n\n\n\n
freq,2,4,NaN,4111,NaN,4209,110
mean,NaN,NaN,1.535874,NaN,1961.619377,NaN,NaN
std,NaN,NaN,0.854563,NaN,28.129576,NaN,NaN
min,NaN,NaN,0.000000,NaN,1836.000000,NaN,NaN
25%,NaN,NaN,1.000000,NaN,1946.000000,NaN,NaN
50%,NaN,NaN,1.000000,NaN,1968.000000,NaN,NaN
75%,NaN,NaN,2.000000,NaN,1983.000000,NaN,NaN
max,NaN,NaN,10.000000,NaN,2009.000000,NaN,NaN

===============================================




Valores nulos por columna:

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

===============================================




Registros duplicados:

0

===============================================




Columnas:
athlete_url
athlete_full_name
games_participations
first_game
athlete_year_birth
athlete_medals
bio



===============================================



--- Dataset: Hosts ---
Primeras rows:

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

===============================================




Información básica del DataFrame: Hosts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_slug        53 non-null     object
 1   game_end_date    53 non-null     object
 2   game_start_date  53 non-null     object
 3   game_location    53 non-null     object
 4   game_name        53 non-null     object
 5   game_season      53 non-null     object
 6   game_year        53 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.0+ KB



===============================================




Descripción estadística:

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
count,53,53,53,53,53,53,53.000000
unique,53,53,53,26,53,2,NaN
top,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,United States,Beijing 2022,Summer,NaN
freq,1,1,1,8,1,29,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1967.547170
std,NaN,NaN,NaN,NaN,NaN,NaN,35.201926
min,NaN,NaN,NaN,NaN,NaN,NaN,1896.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,1936.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,1972.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000

===============================================




Valores nulos por columna:

game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

===============================================




Registros duplicados:

0

===============================================




Columnas:
game_slug
game_end_date
game_start_date
game_location
game_name
game_season
game_year



===============================================



--- Dataset: Medallas ---
Primeras rows:

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

===============================================




Información básica del DataFrame: Medallas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       21697 non-null  object
 1   slug_game              21697 non-null  object
 2   event_title            21697 non-null  object
 3   event_gender           21697 non-null  object
 4   medal_type             21697 non-null  object
 5   participant_type       21697 non-null  object
 6   participant_title      6584 non-null   object
 7   athlete_url            17027 non-null  object
 8   athlete_full_name      18073 non-null  object
 9   country_name           21697 non-null  object
 10  country_code           20195 non-null  object
 11  country_3_letter_code  21697 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB



===============================================




Descripción estadística:

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
count,21697,21697,21697,21697,21697,21697,6584,17027,18073,21697,20195,21697
unique,86,53,1436,4,3,2,493,12116,12895,154,143,154
top,Athletics,tokyo-2020,Individual men,Men,BRONZE,Athlete,United States team,https://olympics.com/en/athletes/michael-phelp...,Michael PHELPS,United States of America,US,USA
freq,3080,1188,215,13932,7529,15113,523,16,16,3094,3094,3094

===============================================




Valores nulos por columna:

discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url               4670
athlete_full_name         3624
country_name                 0
country_code              1502
country_3_letter_code        0
dtype: int64

===============================================




Registros duplicados:

0

===============================================




Columnas:
discipline_title
slug_game
event_title
event_gender
medal_type
participant_type
participant_title
athlete_url
athlete_full_name
country_name
country_code
country_3_letter_code



===============================================



--- Dataset: Resultados ---
Primeras rows:

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

===============================================




Información básica del DataFrame: Resultados
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   discipline_title       162804 non-null  object
 1   event_title            162804 non-null  object
 2   slug_game              162804 non-null  object
 3   participant_type       162804 non-null  object
 4   medal_type             20206 non-null   object
 5   athletes               7976 non-null    object
 6   rank_equal             32526 non-null   object
 7   rank_position          158926 non-null  object
 8   country_name           162804 non-null  object
 9   country_code           157768 non-null  object
 10  country_3_letter_code  162804 non-null  object
 11  athlete_url            129991 non-null  object
 12  athlete_full_name      141646 non-null  object
 13  value_unit             78646 non-null   object
 14  value_type             90049 non-null   object
dtypes: object(15)
memory usage: 18.6+ MB



===============================================




Descripción estadística:

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
count,162804,162804,162804,162804,20206,7976,32526,158926,162804,157768,162804,129991,141646,78646,90049
unique,86,1567,53,2,3,6845,2,193,238,213,233,68104,75263,46475,12
top,Athletics,individual mixed,rio-2016,Athlete,BRONZE,"[('LETOT LETOT', 'https://olympics.com/en/athl...",True,9,United States of America,US,USA,https://olympics.com/en/athletes/heikki-savola...,Heikki SAVOLAINEN,same time,TIME
freq,19259,2731,7672,141646,7029,37,23613,8279,11916,11916,11916,34,34,99,43774

===============================================




Valores nulos por columna:

discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

===============================================




Registros duplicados:

116

===============================================




Columnas:
discipline_title
event_title
slug_game
participant_type
medal_type
athletes
rank_equal
rank_position
country_name
country_code
country_3_letter_code
athlete_url
athlete_full_name
value_unit
value_type



===============================================

In [10]:
def limpiar_datos(df):
    # Eliminamos filas con valores nulos
    df.dropna(inplace=True)
    # Llenamos valores nulos con 0 (o cualquier otro valor)
    df.fillna(0, inplace=True)

# Limpiamos todos los Dataframes y los guardamos en unos nuevos
df_athletes_clean = limpiar_datos(df_athletes)
df_hosts_clean = limpiar_datos(df_hosts)
df_medals_clean = limpiar_datos(df_medals)
df_results_clean = limpiar_datos(df_results)

# Guardamos los DataFrames limpios en otra carpeta
df_athletes_clean.to_csv('./datos_clean/olympic_athlete.csv', index=False)
df_hosts_clean.to_csv('./datos_clean/olympic_hosts.csv', index=False)
df_medals_clean.to_csv('./datos_clean/olympic_medals.csv', index=False)
df_results_clean.to_csv('./datos_clean/olympic_results.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [12]:
# Cargamos los archivos
df_athletes = pd.read_csv('./datos_clean/olympic_athletes.csv')
df_hosts = pd.read_csv('./datos_clean/olympic_hosts.csv')
df_medals = pd.read_csv('./datos_clean/olympic_medals.csv')
df_results = pd.read_csv('./datos_clean/olympic_results.csv')

def spacer():
    print("\n\n")
    print("===============================================")
    print("\n\n")


# Hacemos una función para mostrar información básica de cada DataFrame
def analizar_dataset(df, nombre):
    print(f"====== Dataset: {nombre} ======")
    print("Primeras rows:")
    display(df.head())

    spacer()

    print(f"\nInformación básica del DataFrame: {nombre}")
    df.info()

    spacer()

    print("\nDescripción estadística:")
    display(df.describe(include='all'))

    spacer()

    print("\nValores nulos por columna:")
    display(df.isnull().sum())

    spacer()

    print("\nRegistros duplicados:")
    display(df.duplicated().sum())

    spacer()

    print("\nColumnas:")
    for col in df.columns:
        print(col)

    spacer()


# Ejecutamos la función por cada uno de los datasets
analizar_dataset(df_athletes, 'Atletas')
analizar_dataset(df_hosts, 'Hosts')
analizar_dataset(df_medals, 'Medallas')
analizar_dataset(df_results, 'Resultados')

FileNotFoundError: [Errno 2] No such file or directory: './datos_clean/olympic_athletes.csv'

In [14]:
# Cargamos los archivos
df_athletes = pd.read_csv('./datos_clean/olympic_athletes.csv')
df_hosts = pd.read_csv('./datos_clean/olympic_hosts.csv')
df_medals = pd.read_csv('./datos_clean/olympic_medals.csv')
df_results = pd.read_csv('./datos_clean/olympic_results.csv')

def spacer():
    print("\n\n")
    print("===============================================")
    print("\n\n")


# Hacemos una función para mostrar información básica de cada DataFrame
def analizar_dataset(df, nombre):
    print(f"====== Dataset: {nombre} ======")
    print("Primeras rows:")
    display(df.head())

    spacer()

    print(f"\nInformación básica del DataFrame: {nombre}")
    df.info()

    spacer()

    print("\nDescripción estadística:")
    display(df.describe(include='all'))

    spacer()

    print("\nValores nulos por columna:")
    display(df.isnull().sum())

    spacer()

    print("\nRegistros duplicados:")
    display(df.duplicated().sum())

    spacer()

    print("\nColumnas:")
    for col in df.columns:
        print(col)

    spacer()


# Ejecutamos la función por cada uno de los datasets
analizar_dataset(df_athletes, 'Atletas')
analizar_dataset(df_hosts, 'Hosts')
analizar_dataset(df_medals, 'Medallas')
analizar_dataset(df_results, 'Resultados')

FileNotFoundError: [Errno 2] No such file or directory: './datos_clean/olympic_athletes.csv'

In [15]:
# Cargamos los archivos
df_athletes = pd.read_csv('/datos_clean/olympic_athletes.csv')
df_hosts = pd.read_csv('/datos_clean/olympic_hosts.csv')
df_medals = pd.read_csv('/datos_clean/olympic_medals.csv')
df_results = pd.read_csv('/datos_clean/olympic_results.csv')

def spacer():
    print("\n\n")
    print("===============================================")
    print("\n\n")


# Hacemos una función para mostrar información básica de cada DataFrame
def analizar_dataset(df, nombre):
    print(f"====== Dataset: {nombre} ======")
    print("Primeras rows:")
    display(df.head())

    spacer()

    print(f"\nInformación básica del DataFrame: {nombre}")
    df.info()

    spacer()

    print("\nDescripción estadística:")
    display(df.describe(include='all'))

    spacer()

    print("\nValores nulos por columna:")
    display(df.isnull().sum())

    spacer()

    print("\nRegistros duplicados:")
    display(df.duplicated().sum())

    spacer()

    print("\nColumnas:")
    for col in df.columns:
        print(col)

    spacer()


# Ejecutamos la función por cada uno de los datasets
analizar_dataset(df_athletes, 'Atletas')
analizar_dataset(df_hosts, 'Hosts')
analizar_dataset(df_medals, 'Medallas')
analizar_dataset(df_results, 'Resultados')

FileNotFoundError: [Errno 2] No such file or directory: '/datos_clean/olympic_athletes.csv'

In [16]:
# Cargamos los archivos
df_athletes = pd.read_csv('datos_clean/olympic_athletes.csv')
df_hosts = pd.read_csv('datos_clean/olympic_hosts.csv')
df_medals = pd.read_csv('datos_clean/olympic_medals.csv')
df_results = pd.read_csv('datos_clean/olympic_results.csv')

def spacer():
    print("\n\n")
    print("===============================================")
    print("\n\n")


# Hacemos una función para mostrar información básica de cada DataFrame
def analizar_dataset(df, nombre):
    print(f"====== Dataset: {nombre} ======")
    print("Primeras rows:")
    display(df.head())

    spacer()

    print(f"\nInformación básica del DataFrame: {nombre}")
    df.info()

    spacer()

    print("\nDescripción estadística:")
    display(df.describe(include='all'))

    spacer()

    print("\nValores nulos por columna:")
    display(df.isnull().sum())

    spacer()

    print("\nRegistros duplicados:")
    display(df.duplicated().sum())

    spacer()

    print("\nColumnas:")
    for col in df.columns:
        print(col)

    spacer()


# Ejecutamos la función por cada uno de los datasets
analizar_dataset(df_athletes, 'Atletas')
analizar_dataset(df_hosts, 'Hosts')
analizar_dataset(df_medals, 'Medallas')
analizar_dataset(df_results, 'Resultados')

FileNotFoundError: [Errno 2] No such file or directory: 'datos_clean/olympic_athletes.csv'

In [18]:
# Cargamos los archivos
df_athletes = pd.read_csv('./datos_clean/olympic_athletes.csv')
df_hosts = pd.read_csv('./datos_clean/olympic_hosts.csv')
df_medals = pd.read_csv('./datos_clean/olympic_medals.csv')
df_results = pd.read_csv('./datos_clean/olympic_results.csv')

def spacer():
    print("\n\n")
    print("===============================================")
    print("\n\n")


# Hacemos una función para mostrar información básica de cada DataFrame
def analizar_dataset(df, nombre):
    print(f"====== Dataset: {nombre} ======")
    print("Primeras rows:")
    display(df.head())

    spacer()

    print(f"\nInformación básica del DataFrame: {nombre}")
    df.info()

    spacer()

    print("\nDescripción estadística:")
    display(df.describe(include='all'))

    spacer()

    print("\nValores nulos por columna:")
    display(df.isnull().sum())

    spacer()

    print("\nRegistros duplicados:")
    display(df.duplicated().sum())

    spacer()

    print("\nColumnas:")
    for col in df.columns:
        print(col)

    spacer()


# Ejecutamos la función por cada uno de los datasets
analizar_dataset(df_athletes, 'Atletas')
analizar_dataset(df_hosts, 'Hosts')
analizar_dataset(df_medals, 'Medallas')
analizar_dataset(df_results, 'Resultados')

====== Dataset: Atletas ======
Primeras rows:

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/mikael-kingsbury,Mikael KINGSBURY,3,Sochi 2014,1992.0,\n\n\n1\n\nG\n\n\n\n2\n\nS\n\n,\n\n\nIn the period between his elite debut in...
1,https://olympics.com/en/athletes/david-wise,David WISE,3,Sochi 2014,1990.0,\n\n\n2\n\nG\n\n\n\n1\n\nS\n\n,\n\n\nThe favourite heading into the inaugural...
2,https://olympics.com/en/athletes/gus-kenworthy,Gus KENWORTHY,3,Sochi 2014,1991.0,\n\n\n1\n\nS\n\n,\n\n\nAFP World Championships overall titles i...
3,https://olympics.com/en/athletes/jean-frederic...,Jean Frederic CHAPUIS,3,Sochi 2014,1989.0,\n\n\n1\n\nG\n\n,"\n\n\nA former Alpine skier, Jean-Frédéric Cha..."
4,https://olympics.com/en/athletes/gu-ailing-eileen,Ailing Eileen GU,1,Beijing 2022,2003.0,\n\n\n2\n\nG\n\n\n\n1\n\nS\n\n,\n\n\nGU Ailing Eileen is one of those people ...

===============================================




Información básica del DataFrame: Atletas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7842 entries, 0 to 7841
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           7842 non-null   object
 1   athlete_full_name     7842 non-null   object
 2   games_participations  7842 non-null   int64
 3   first_game            7842 non-null   object
 4   athlete_year_birth    7842 non-null   float64
 5   athlete_medals        7842 non-null   object
 6   bio                   7842 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 429.0+ KB



===============================================




Descripción estadística:

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
count,7842,7842,7842.000000,7842,7842.000000,7842,7842
unique,7841,7839,NaN,53,NaN,163,7826
top,https://olympics.com/en/athletes/mariana-pajon,Jörg HOFFMANN,NaN,Los Angeles 1984,NaN,\n\n\n1\n\nB\n\n,\n\n\n.\n\n\n\n\n\n
freq,2,2,NaN,379,NaN,1788,7
mean,NaN,NaN,2.071155,NaN,1941.435093,NaN,NaN
std,NaN,NaN,1.140902,NaN,31.314022,NaN,NaN
min,NaN,NaN,1.000000,NaN,1836.000000,NaN,NaN
25%,NaN,NaN,1.000000,NaN,1920.000000,NaN,NaN
50%,NaN,NaN,2.000000,NaN,1948.000000,NaN,NaN
75%,NaN,NaN,3.000000,NaN,1966.000000,NaN,NaN
max,NaN,NaN,10.000000,NaN,2008.000000,NaN,NaN

===============================================




Valores nulos por columna:

athlete_url             0
athlete_full_name       0
games_participations    0
first_game              0
athlete_year_birth      0
athlete_medals          0
bio                     0
dtype: int64

===============================================




Registros duplicados:

0

===============================================




Columnas:
athlete_url
athlete_full_name
games_participations
first_game
athlete_year_birth
athlete_medals
bio



===============================================



====== Dataset: Hosts ======
Primeras rows:

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

===============================================




Información básica del DataFrame: Hosts
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_slug        53 non-null     object
 1   game_end_date    53 non-null     object
 2   game_start_date  53 non-null     object
 3   game_location    53 non-null     object
 4   game_name        53 non-null     object
 5   game_season      53 non-null     object
 6   game_year        53 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.0+ KB



===============================================




Descripción estadística:

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
count,53,53,53,53,53,53,53.000000
unique,53,53,53,26,53,2,NaN
top,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,United States,Beijing 2022,Summer,NaN
freq,1,1,1,8,1,29,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1967.547170
std,NaN,NaN,NaN,NaN,NaN,NaN,35.201926
min,NaN,NaN,NaN,NaN,NaN,NaN,1896.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,1936.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,1972.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,1996.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000

===============================================




Valores nulos por columna:

game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

===============================================




Registros duplicados:

0

===============================================




Columnas:
game_slug
game_end_date
game_start_date
game_location
game_name
game_season
game_year



===============================================



====== Dataset: Medallas ======
Primeras rows:

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

===============================================




Información básica del DataFrame: Medallas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       2667 non-null   object
 1   slug_game              2667 non-null   object
 2   event_title            2667 non-null   object
 3   event_gender           2667 non-null   object
 4   medal_type             2667 non-null   object
 5   participant_type       2667 non-null   object
 6   participant_title      2667 non-null   object
 7   athlete_url            2667 non-null   object
 8   athlete_full_name      2667 non-null   object
 9   country_name           2667 non-null   object
 10  country_code           2667 non-null   object
 11  country_3_letter_code  2667 non-null   object
dtypes: object(12)
memory usage: 250.2+ KB



===============================================




Descripción estadística:

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
count,2667,2667,2667,2667,2667,2667,2667,2667,2667,2667,2667,2667
unique,23,53,110,4,3,1,223,2127,2126,59,58,59
top,Rowing,tokyo-2020,doubles men,Men,BRONZE,GameTeam,Germany team,https://olympics.com/en/athletes/ivan-patzaichin,Ivan PATZAICHIN,United States of America,DE,USA
freq,475,216,147,1288,913,2667,130,6,6,256,285,256

===============================================




Valores nulos por columna:

discipline_title         0
slug_game                0
event_title              0
event_gender             0
medal_type               0
participant_type         0
participant_title        0
athlete_url              0
athlete_full_name        0
country_name             0
country_code             0
country_3_letter_code    0
dtype: int64

===============================================




Registros duplicados:

0

===============================================




Columnas:
discipline_title
slug_game
event_title
event_gender
medal_type
participant_type
participant_title
athlete_url
athlete_full_name
country_name
country_code
country_3_letter_code



===============================================



====== Dataset: Resultados ======
Primeras rows:

Empty DataFrame
Columns: [discipline_title, event_title, slug_game, participant_type, medal_type, athletes, rank_equal, rank_position, country_name, country_code, country_3_letter_code, athlete_url, athlete_full_name, value_unit, value_type]
Index: []

===============================================




Información básica del DataFrame: Resultados
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       0 non-null      object
 1   event_title            0 non-null      object
 2   slug_game              0 non-null      object
 3   participant_type       0 non-null      object
 4   medal_type             0 non-null      object
 5   athletes               0 non-null      object
 6   rank_equal             0 non-null      object
 7   rank_position          0 non-null      object
 8   country_name           0 non-null      object
 9   country_code           0 non-null      object
 10  country_3_letter_code  0 non-null      object
 11  athlete_url            0 non-null      object
 12  athlete_full_name      0 non-null      object
 13  value_unit             0 non-null      object
 14  value_type             0 non-null      object
dtypes: object(15)
memory usage: 132.0+ bytes



===============================================




Descripción estadística:

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

===============================================




Valores nulos por columna:

discipline_title         0
event_title              0
slug_game                0
participant_type         0
medal_type               0
athletes                 0
rank_equal               0
rank_position            0
country_name             0
country_code             0
country_3_letter_code    0
athlete_url              0
athlete_full_name        0
value_unit               0
value_type               0
dtype: int64

===============================================




Registros duplicados:

0

===============================================




Columnas:
discipline_title
event_title
slug_game
participant_type
medal_type
athletes
rank_equal
rank_position
country_name
country_code
country_3_letter_code
athlete_url
athlete_full_name
value_unit
value_type



===============================================